.gpt3__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.gpt3__navbar__links{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__navbar__links_logo{
    margin-right: 2rem;
}

.gpt3__navbar__links_logo img{
    width: 85px;
    height: 30px;
}

.gpt3__navbar__links_container{
    display: flex;
}

.gpt3__navbar_sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar_sign p:hover, .gpt3__navbar_menu_container_links_sign p:hover{
    color:#ff4829;
    cursor: pointer;
}

.gpt3__navbar_sign button,
.gpt3__navbar_menu_container button{
    width: 152px;
    height: 50px;
    border: 0;
    outline: none;
    font-weight: 500;
    background-color: #ff4829;
    border-radius:5px;
    padding: 1rem 0;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--font-family);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gpt3__navbar__links_container p, 
.gpt3__navbar_sign p,
.gpt3__navbar-menu_container p{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    cursor:pointer;
    margin: 0 1rem;
}

.gpt3__navbar_menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gpt3__navbar_menu svg{
    cursor: pointer;
}

.gpt3__navbar_menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    position: absolute;
    padding: 2rem;
    right:0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    color:#fff;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar_menu_container p{
    margin: 1rem 0;
}

.gpt3__navbar_menu_container_links_sign{
    display: none;
}

@media screen and (max-width: 1050px){
    .gpt3__navbar__links_container{
        display: none;
    }

    .gpt3__navbar_menu{
        display: flex;
    }

    .gpt3__navbar__links_logo img{
        width: 100px;
        height: 50px;
       
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .gpt3__navbar_sign {
        display: none;
    }

    .gpt3__navbar_menu_container {
        top: 20px;
    }

    .gpt3__navbar_menu_container_links_sign {
        display: block;
    }
}
